.btn__wrapper {
	height: 100%;
}
.btn {
	min-width: $button__width;
	min-height: $button__height;
  font-family: $tag__fontname;
	background-color: $button__color;
	text-decoration: none;
	display: inline-flex;
  font-size:14px;
	align-items: center;
	justify-content: center;
	color: $color__bright;
	border-radius: $button__radius;
	line-height: 0px;
  transition: .3s;
  font-weight: 600;
  >span{
    position: relative;
    color: $color__bright;
    display: block;
    font-size: 14px;
    line-height: normal;
    transition: .3s;
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 0px;
      bottom: -4px;
      left: 0;
      background-color: currentColor;
      transition: height 0.3s $ease-in-out;
    }
  }
  &:hover{
    background-color: darken(#C9B597, 10%);
  }

}
