.site-header__inner-bottom{position: relative;}
.hamburger .line{
  width: 27px;
  height: 2px;
  border-radius: 3px;
  background-color: $color__bright;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburger-1{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  @include media('>phone-land'){
    display: none;
  }
}

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}
