.site-header{
  display: flex;
  flex-direction: column;
  .site-header__logo{
    svg{
      @include media('<phone'){
        width: 145px;
      }
    }
  }
}
// TOP
.site-header__inner-top{
  background-color: #141416;
  height: 175px;
  display: flex;
  align-items: center;
  color: $color__bright;
  flex-wrap: wrap;
}

// search form
#searchform{
  margin-left: auto;
  margin-right: 34px;
  .search-field{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #4A4A4A;
    padding: 5px;
    color: $color__gold;
    font-family: $tag__fontname;
    width: 200px;
    font-size: 14px;

  }
  #searchSubmit{
    background-color: transparent;
    border: none;
    &:hover{
      cursor: pointer;
    }
    >svg{
      top: 4px;
      position: relative;
    }
  }
}

// ecom navigation
.ecom-navigation{
  display: flex;
  .cart{
    color: $color__bright;
    font-family: $tag__fontname;
    font-size: 14px;
    >span{
      display: inline-block;
      margin-left: 15px;
      &.price-tot{
        @include media('<phone-land'){
          display: none;
        }
      }
      &.item-tot{
        color: $color__gold;
      }
    }
  }
}
.ecom-nav{
  display: flex;
  align-items: center;
  >p a{
    display: flex;
    align-items: center;
  }
  &__item{
    margin-left: 22px;
  }
}

// BOTTOM
.site-header__inner-bottom{
  background-color: #4A4A4A;
  color: $color__bright;
  min-height: 46.36px;
}


// NAVIGATION
.site-header__menu{
  width: 100%;
  #menu_main{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    width: 100%;
    column-gap: 10px;
    @include media('<phone-land'){
      position: absolute;
      left: 0;
      flex-direction: column;
      background-color: #4A4A4A;
      z-index: 10;
      pointer-events: none;
      opacity: 0;
      top: -30px;  
      padding-bottom: 50px;
      padding-top: 50px;
      &.is-active{
        opacity: 1;
        pointer-events: all;
        top: 0px;
        .menu-item{
          >a{
            padding: 14px 10px;
          }
        }
      }
    }

    // &.hidden_mobile{
    //   @include media('<phone-land'){
    //     display: none;
    //   }
    // }
  }
  .menu-item{
    >a{
      display: inline-block;
      padding: 15px 10px;
      color: $color__bright;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-family: $tag__fontname;
      letter-spacing: 1.4px;
      &:hover{
        color: $color__link-hover;
      }
    }
    &.current-menu-item{
      >a{
        background-color: $color__bright;
        color: $color__text;
      }
    }
  }
}

// MOBILE
.search-mobile {
  display: none;
  @include media('<phone-land'){
    display: block;
    margin-left: auto;
  }
}

#searchform{
  @include media('<phone-land'){
    display: none;
  }
}

.mobile-search-text{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  #searchformMobile{
    @extend #searchform;
    margin-right: 20px;
    display: none;
    @include media('<phone-land'){
      display: block;
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s;
      &.is-active{
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  #searchformMobile .search-field{
    border-color: $color__bright;
    width: 170px;
    &::placeholder{
      color: $color__bright;
    }
  }
 
}