// Archive loop
.products, .fd-bestselling .wc-block-grid__products{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(224px, 250px));
  column-gap: 25px;
  justify-content: center;
  row-gap: 25px;
  &.related{
    display: block;
    margin-bottom: 100px;
    margin-top: 80px;
    >h2{
      @extend .h3;
      text-align: center;
      margin-bottom: 47px;
    }
  }
  >.product, .wc-block-grid__product {
    position: relative;
  }
  .add_to_cart_button, .wp-block-button a{
    position: absolute;
    top:160px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color:$color__text;
    color: $color__bright;
    font-family: $tag__fontname;
    font-size: 14px;
    letter-spacing: 1.4px;
    width: 75%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s $ease-in-out;
  }
  .onsale, .wc-block-grid__product-onsale{
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: 5;
    color: $color__bright;
    padding: 10px;
    font-size: 12px;
    width: 48px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-family: $tag__fontname;
    border-radius: 50%;
    background-color: $color__text;
  }
  .woocommerce-loop-product__title, .wc-block-grid__product-title{
    font-size: 15px;
    letter-spacing: 0.32px;
    margin-bottom: 5px;
    text-align: center;
  }
  .price, .wc-block-grid__product-price {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-family: $tag__fontname;
    font-size: 14px;
  }
  .fdry-woo__img-wrapper, .wc-block-grid__product-image{
    position: relative;
    height: 220px;
    width: 100%;
    margin: auto;
    margin-bottom: 18px;
    >img{
      @extend %cover;
      object-fit: cover;
      height: 100%!important;
    }
  }
  .wc-block-grid__product-add-to-cart a{
    min-height: 45px;
  }
}
.woocommerce-LoopProduct-link, .wc-block-grid__product-link {
  &:hover{
    color: currentColor;
  }
  h2{
    &:hover{
      color: $color__link-hover;
    }
  }
}


// NOTICE
.woocommerce-notices-wrapper{
  .woocommerce-message{
    font-size: 16px;
    padding: 10px 0;
    border-top: 1px solid $color__main;
    border-bottom: 1px solid $color__main;
    margin-bottom: 20px;
  }
  a{
   text-decoration: underline;
   display: inline-block;
   margin-right: 12px;
  }
}
.woocommerce-info{
  margin: 50px 0 100px 0;
  padding: 20px 15px;
  font-size: 1.5rem;
  font-family: $tag__fontname;
  letter-spacing: 1.1px;
  background-color: #efefef;
  border-top: 2px solid $color__main;
  text-transform: uppercase;
}
.woocommerce-LostPassword {
  font-family: $tag__fontname;
  font-size: 15px;
}

.wp-block-separator{
  border-color: $color__grey;    
}


